/* Font Imports */

/* Reset Margins and Padding */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set default values for all site elements */
:root {

    /* colours */
    --col-pri-red: hsl(0, 78%, 62%);
    --col-pri-cyan: hsl(180, 62%, 55%);
    --col-pri-orange: hsl(34, 97%, 64%);
    --col-pri-blue: hsl(212, 86%, 64%);

    --col-neu-grey500: hsl(234, 12%, 34%);
    --col-neu-grey400: hsl(212, 6%, 44%);
    --col-neu-white: hsl(0, 0%, 100%);

    /* Typography */
    font-size: 15px;
    color: var(--col-neu-grey400);

    /* Borders */
    --border-card-size: 0.27rem;

}

/* Fonts */
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    padding: 2rem;

    background: var(--col-neu-white);
}

header > h1, header > h2 {
    font-size: 1.6rem;
    text-align: center;
}

header > p {
    text-align: center;
    padding-top: 1rem;
}

/* Card Styles */
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1rem;

    width: 100%;
    height: 18rem;

    padding: 2rem;

    border-radius: 4px;
    box-shadow: 2px 9px 17px -6px rgba(0 ,0 ,0, 0.23); 
}

.card > p {
    font-size: .9rem;
}

.card-footer {
    padding: 1rem;
    display: flex;
    justify-content: end;
}

.top-cyan {
    border-top: var(--border-card-size) solid var(--col-pri-cyan);
}

.top-red {
    border-top: var(--border-card-size) solid var(--col-pri-red);
}

.top-orange {
    border-top: var(--border-card-size) solid var(--col-pri-orange);
}

.top-blue {
    border-top: var(--border-card-size) solid var(--col-pri-blue);
}

@media screen and (min-size: 376px) {

}